*.o
*.a
*.so
*.so.*
*.dylib
*.out
*.pyc
test_runner
httpd
build/
lib/

# Temp files and logs
*.log
*~
.*
!.gdbinit
!.travis.yml
*.BAK
\#*\#

# Qt Creator Config files
*.config
*.creator
*.creator.user
*.files
*.includes
